.navbar-container {
    display: flex;
    justify-content: left;   /* Centers horizontally */
    height: 10vh;              /* Full viewport height */
    background-color: #69aef2;  /* Optional background color */
    padding-top: 1%;
    padding-left: 20px;
}

.username {
    margin-bottom: 50px;
}